
:root {
  --white: #efe;
  --black: #101;
  --blue: #325B9A;
  --yellow: #EADB55;
  --purple: #C4A899;
}

html, body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: var(--black, black);
  color: var(--white, white);
  font-family: 'Cabin', sans-serif;
}

h1 {
  color: var(--yellow, yellow);
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid var(--white, white);
  margin: auto;
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.25); */
  border-radius: 3px;
}

.game-grid div {
  width: 15px;
  height: 15px;
}

/* GAME GRID SQUARES */
.pac-dot {
  background-color: var(--purple, green);
  border: 5px solid var(--black, black);
  box-sizing: border-box;
}

.wall {
  background-color: var(--blue, blue);
}

.power-pellet {
  background-color: green;
  border-radius: 50%;
}

.empty, .ghost-lair {
  background: var(--black, black);
}

.pacman {
  background-color: var(--yellow, orange);
  border-radius: 50%;
  border: none;
}